.signup{
    position: relative; 
    width: 100%; 
    height: 100%;
}

.signup__fade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0.75));
}

.signup__container{
    margin: 0 auto;
    width: 450px;
    max-width: 900px;
    position: absolute;
    top: 20%;
    left: calc(100% - 900px);
    padding: 5rem 3rem;
    background-color: rgba(0, 0, 0, 0.8);  
    border-radius: 10px;
}

.white{
    color: var(--color-white);
    margin-bottom: 1.5rem;
}

.align{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

}

.align input{
   margin-right: 5px; 
}

